body {
	margin: 0;
	width: 100%;
	box-sizing: border-box;

}
.wrapper {
	max-width:1200px;
	min-width: 320px;
  	margin: 0 auto;
  	padding:0 20px;
  	overflow:hidden;
}
.header {
	display: flex;
	align-items:center;
 	justify-content:space-between;
  	border-bottom: 3px solid grey;
}
.logo-img {
	width: 150px;
	height: auto;
	padding:5px 5px	5px	20px;
}
 .burger-menu {
 	order:1;
 	display: none;
 	height: 30px;
 }
.burger-menu-img {
	width: ;
	height: 30px;
}
.burger-menu-close {
	display: none;
	width: 32px;
	height: auto;
	align-self: flex-start;
	margin-top:5px;
}
.main-close-img {
	width: 100%;
}
.main-nav { 
	display:flex;
}
.main-nav ul {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	margin: 0 20px;
	padding:0;
}
.main-nav li>a {
	color: inherit;
	padding: 0 10px;
	text-decoration: none;
}
.main-nav li {
	transition: 1s;
}
.main-nav li:hover {
	transform: scale(1.3,1.3);
	color: blue;
}
h1 {
	color: #DC143C;
}
.items-row {
	display: flex;
	flex-direction: column;
}
.items-row div {
	display: flex;
	margin: 20px 0;
	align-items: center;
}
.items-row img {
	width: 17%;
	min-width: 180px;
	height: auto;
}
.items-row p {
	padding:0 10px;
}
.items-row div:nth-child(even) {
	flex-direction: row-reverse;
}
.items-col {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -10px;
	padding-bottom: 50px;
}
.items-col>div {
	box-sizing: border-box;
	border: 2px solid grey;
	margin: 10px;
	max-width: calc(33.33% - 20px);
	flex-basis: 100%;
}
.items-col a {
	text-decoration: none;
	color: inherit;
}
a>div {
	height: 100%;
}
.items-col a:hover {
	color: red;
}
.items-col img {
	width: 50%;
	height: auto;
	float: left;
	padding: 10px 10px 5px 10px;
}
.items-col img:after {
    content: "";
    display: table;
    clear: both;
}
.items-col p {
	margin: 0;
	padding: 10px;
}
.footer {
	display: flex;
	justify-content: space-between;
	border-top: 3px solid grey;
	padding:10px 0;
	align-items: center;
}
.logo-footer {
	width: auto;
	height: 50px;
	padding: 5px 5px 5px 20px;
}
address {
	display: flex;
	flex-direction: column;
}
address a {
	text-decoration: none;
	color:inherit;
}
address a:hover {
	color: blue;
}
@media (max-width: 320px) {
	.logo-img {
	width: 55px;
	}
	.items-row div {
	flex-wrap: wrap;
	justify-content: center;
	}
	.items-row img {
	width: 65%;
	}
	.items-col>div {
	max-width: 100%;
	}
	.items-col img {
	width: 80%;
	position: relative;
	left: 17.5px;
	}
	.logo-footer {
	height: 35px;
	}
	.address {
		font-size: 15px;
	}
}
@media (min-width: 321px) and (max-width: 374px) {
	.logo-img {
	width: 75px;
	}
	.items-row div {
	flex-wrap: wrap;
	justify-content: center;
	}
	.items-row img {
	width: 60%;
	}
	.items-col>div {
	max-width: 100%;
	}
	.items-col img {
	width: 80%;
	position: relative;
	left: 22.5px;
	}
	.logo-footer {
	height: 35px;
	}
	.address {
		font-size: 15px;
	}
}
@media (min-width: 375px) and (max-width: 767px) {
	.logo-img {
	width: 90px;
		}
	.items-row img {
	width: 50%;
	}
	.items-col>div {
	max-width: calc(50% - 20px);
	}
	.items-col img {
	width: 50%;
	}
	.logo-footer {
	height: 50px;
}
}
@media (min-width: 768px) and (max-width: 930px) {
	.items-col>div {
	max-width: calc(33.33% - 20px);
	}
}
@media (max-width: 645px) {
	.burger-menu {
		display: block;
	}
	.main-nav {
		position: absolute;
		left:74%;
		top: 1%;
		transform:scale(0,0);
	}
	.main-nav ul {
		flex-direction: column;
		margin-right: 0;
		border: 2px solid #895025;
		background:#895025;
		border-radius: 5px;
	}
	.main-nav li{
		margin:1px 1px;
		background: #f49e49;
		border-radius: 5px;
		color: white;
	}
	.main-nav li>a {
		padding:0 5px;
	}
	.main-nav li:hover {
		transform: none;
		color: #9FF0F0;
	}
}
.burger-menu-click {
	transform:scale(0,0);
}
.main-burger-open {
	transform: scale(1,1);
	transition: transform 2s;
}
.burger-menu-close-open {
	display: block;
}
.burger-menu-reactive {
	transform: scale(1,1);
	transition: transform 2s;
}
@media (min-width: 646px) {
	.burger-menu-close-open {
		display: none;
	}
}
